<div class="login-page">
  <div class="login-content">
    <div class="login-img">
      <img src="assets/img/login.png" alt="">
    </div>

    <div class="error-message">
      <span> {{ errorMessage }}</span>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-content">
      <div class="form-group">
        <div class="input-block">
          <label for="login">Email:</label>
          <input type="text" id="login" formControlName="login">
        </div>

        <div *ngIf="loginForm.controls['login'].invalid && 
          (loginForm.controls['login'].dirty || loginForm.controls['login'].touched)" class="error">
          <span *ngIf="loginForm.controls['login'].errors.required">Email is required</span>
        </div>
      </div>

      <div class="form-group">
        <div class="input-block">
          <label for="pass">Password</label>
          <input type="text" id="pass" formControlName="pass">
        </div>

        <div *ngIf="loginForm.controls['pass'].invalid && 
          (loginForm.controls['pass'].dirty || loginForm.controls['pass'].touched)" class="error">
          <span *ngIf="loginForm.controls['pass'].errors.required">Password is required</span>
        </div>
      </div>

      <div class="button-block">
        <button type="submit" class="btn-green" [disabled]="!loginForm.valid">Create</button>
        <button type="button" class="btn-red" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>