<div class="categories-page">
  <div *ngFor="let category of categoriesList" class="categories-content">
    <div class="category">
      <span> {{ category.name }} </span>
      <a [routerLink]="category.name.toLowerCase()"><img [src]="category.imgUrl" alt=""></a>
    </div>

    <div *ngIf="isAdmin" class="button-content">
      <button class="btn-red" (click)="deleteCategory(category._id)">delete</button>
      <button class="btn-green" (click)="updateCategory(category)">update</button>
    </div>

  </div>

</div>

<ng-template #template>
  <div class="form-content">
    <h3>Update {{ currentObj.name }}</h3>

    <div class="message input-block">
      <span>{{ infoMessage }}</span>
    </div>

    <form [formGroup]="onUpdateForm" (ngSubmit)="onUpdate()">
      <div class="input-block">
        <label for="name">Category name:</label>
        <input type="text" id="name" formControlName="name">
      </div>

      <div class="input-block">
        <label for="img-url">Img-url:</label>
        <input type="text" id="img-url" formControlName="imgUrl">
      </div>

      <div class="button-block">
        <button type="submit" class="btn-green">update</button>
        <button class="btn-red" (click)="onCancel()">cancel</button>
      </div>
    </form>
  </div>
</ng-template>

<app-modal *ngIf="IsModalShow" [template]="template" (closeModal)="closeModal()">
</app-modal>