.categories-page {
  width: 100%;
  min-height: 820px;
  height: 100%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.conteiner {
  display: flex;
  flex-wrap: wrap;
}

.category-block {
  width: 280px;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  outline: none;
}

.category-block:hover {
  box-shadow: 10px -3px 20px rgba(70, 130, 180, 1);
}

.category,
.img {
  display: flex;
  justify-content: center;

  img {
    width: 230px;
  }
}

.category {
  height: 30px;
  padding: 5px 20px;
  display: flex;

  .category-name {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .icon-button {
    width: 50px;
    display: flex;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
    }
  }

  .icon:hover {
    box-shadow: 2px 0px 5px rgba(70, 130, 180, 1);
  }
}

.form-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-block,
.button-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;

  label {
    width: 120px;
  }

  input {
    width: 160px;
    height: 20px;
    cursor: pointer;
    outline: none;
    padding-left: 5px;
    border: 1px solid grey;
  }

  input.ng-touched.ng-dirty.ng-invalid,
  input.ng-pristine.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  input.ng-touched.ng-dirty.ng-valid {
    border: 1px solid green;
  }

  .btn-green {
    margin-right: 10px;
  }
}

.delete-massage {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .info-message {
    height: 50px;
    display: inline-block;
  }

  .info-button {
    .btn-green {
      margin-right: 10px;
    }
  }
}