.categories-page {
  min-height: 820px;
  padding: 10% 0;
  margin: 0 auto;
  background-color: #F8F8FF;
  display: flex;
  flex-wrap: wrap;
}

.category-block {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
}

.content {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(70, 130, 180, 0.5);
  cursor: pointer;
  outline: none;
}

.content:hover {
  box-shadow: 10px -3px 20px rgba(70, 130, 180, 1);
}

.category-content {
  width: 100%;
  max-height: 250px;
  height: 100%;

  .category-name {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .category-img {
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    img {
      max-width: 220px;
      max-height: 180px;
    }
  }
}

.button-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(70, 130, 180, 0.5);

  .btn-trash {
    border-right: 1px solid rgba(70, 130, 180, 0.5);
  }
}

.form-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-block,
.button-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;

  label {
    width: 120px;
  }

  input {
    width: 160px;
    height: 20px;
    cursor: pointer;
    outline: none;
    padding-left: 5px;
    border: 1px solid grey;
  }

  input.ng-touched.ng-dirty.ng-invalid,
  input.ng-pristine.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  input.ng-touched.ng-dirty.ng-valid {
    border: 1px solid green;
  }

  .btn-green {
    margin-right: 10px;
  }
}

.delete-massage {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .info-message {
    height: 50px;
   display: inline-block;
  }

  .info-button {
    .btn-green {
      margin-right: 10px;
    }
  }
}