<div class="categories-page">
  <div *ngFor="let category of categoriesList" class="category-block">
    <div [routerLink]="category.name.toLowerCase()" class="content">
      <div class="category-content">
        <div class="category-name">
          <span> {{ category.name }} </span>
        </div>
  
        <div class="category-img">
          <img [src]="category.imgUrl" alt="">
        </div>
      </div>
  
      <div *ngIf="isAdmin" class="button-content">
        <button class="btn-trash" (click)="deleteCategory(category._id, $event)">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </button>

        <button class="btn-update" (click)="updateCategory(category, $event)">
          <fa-icon [icon]="faPencilAlt"></fa-icon>
        </button>
      </div>
    </div>

  </div>

</div>

<ng-template #template>
  <div class="form-content">
    <h3>Update {{ currentObj.name }}</h3>

    <div class="message input-block">
      <span>{{ infoMessage }}</span>
    </div>

    <form [formGroup]="onUpdateForm" (ngSubmit)="onUpdate()">
      <div class="input-block">
        <label for="name">Category name:</label>
        <input type="text" id="name" formControlName="name">
      </div>

      <div class="input-block">
        <label for="img-url">Img-url:</label>
        <input type="text" id="img-url" formControlName="imgUrl">
      </div>

      <div class="button-block">
        <button type="submit" [disabled]="!onUpdateForm.valid"  class="btn-green">update</button>
        <button type="button" class="btn-red" (click)="closeModal()">cancel</button>
      </div>
    </form>
  </div>
</ng-template>

<app-modal *ngIf="IsModalShow" [template]="template" (closeModal)="closeModal()">
</app-modal>