.product-form-block {
  width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(68, 68, 68, 1);
}

// .back {
//   display: flex;
//   justify-content: center;

//   a {
//     border-bottom: 1px solid transparent;
//   }

//   a:hover {
//     color: red;
//     border-bottom: 1px solid red;
//     cursor: pointer;
//   }
// }

.form-content {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.info-message {
  height: 30px;
  color: blue;
}

.form-group {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-block {
  display: flex;
  align-items: center;

  .left-column {
    width: 160px;
  }

  .right-column {
    width: 169px;
    height: 24px;
    cursor: pointer;
    outline: none;
    padding: 0;
    border: 1px solid grey;
  }

  input.ng-touched.ng-dirty.ng-invalid,
  input.ng-pristine.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  input.ng-touched.ng-dirty.ng-valid {
    border: 1px solid green;
  }
}

.error {
  width: 160px;
  padding: 4px;
  color: red;
  background-color: rgb(100%, 0%, 0%, 0.2);
}