<div class="product-form-block">
  <!-- <div class="back">
    <a (click)="onCancel()">Back to product</a>
  </div> -->
  
  <h3>Create new product </h3>

  <form [formGroup]="productForm" (ngSubmit)="onSubmitNewProduct()" class="form-content">
    <div class="info-message">
      <span>{{ infoMessage }}</span>
    </div>

    <div class="form-group">
      <div class="input-block">
        <div class="left-column">Choose category:</div>
        <select class="right-column select" formControlName="category">
          <option *ngFor="let category of categories" (click)="onChooseCategory(category)">
            {{ category.name }}
          </option>
        </select>
      </div>

      <div *ngIf="productForm.controls['name'].invalid && 
        (productForm.controls['name'].dirty || productForm.controls['name'].touched)" class="error">
        <span *ngIf="productForm.controls['name'].errors.required" class="error-message">Name is required</span>
      </div>
    </div>

    <div class="form-group">
      <div class="input-block">
        <div class="left-column">Choose subcategory:</div>
        <select class="right-column select" formControlName="subcategory">
          <option *ngFor="let subcategory of subcategories" >
            {{ subcategory.name }}
          </option>
        </select>
      </div>

      <div *ngIf="productForm.controls['name'].invalid && 
        (productForm.controls['name'].dirty || productForm.controls['name'].touched)" class="error">
        <span *ngIf="productForm.controls['name'].errors.required" class="error-message">Name is required</span>
      </div>
    </div>

    <div class="form-group">
      <div class="input-block">
        <label class="left-column" for="name">Product name:</label>
        <input type="text" class="right-column" id="name" formControlName="name">
      </div>

      <div *ngIf="productForm.controls['name'].invalid && 
        (productForm.controls['name'].dirty || productForm.controls['name'].touched)" class="error">
        <span *ngIf="productForm.controls['name'].errors.required" class="error-message">Name is required</span>
      </div>
    </div>

    <div class="form-group">
      <div class="input-block">
        <label class="left-column" for="img-url">Product img url</label>
        <input type="text" class="right-column" id="img-url" formControlName="imgUrl">
      </div>

      <div *ngIf="productForm.controls['imgUrl'].invalid && 
        (productForm.controls['imgUrl'].dirty || productForm.controls['imgUrl'].touched)" class="error">
        <span *ngIf="productForm.controls['imgUrl'].errors.required" class="error-message">Img Url is required</span>
      </div>
    </div>

    <div class="form-group">
      <div class="input-block">
        <label class="left-column" for="price">Product price</label>
        <input type="text" class="right-column" id="price" formControlName="price">
      </div>

      <div *ngIf="productForm.controls['price'].invalid && 
        (productForm.controls['price'].dirty || productForm.controls['price'].touched)" class="error">
        <span *ngIf="productForm.controls['price'].errors.required" class="error-message">Price is required</span>
      </div>
    </div>

    <div class="button-block">
      <button type="submit" class="btn-green" [disabled]="!productForm.valid">Create</button>
    </div>
  </form>
</div>