.select {
  height: 100%;
  width: 100%;
  text-transform: none;
  position: relative;
}

.show-value {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  .selected-value,
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .selected-value {
    flex: 1;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.drop-down-select {
  width: calc(100% - 40px);
  position: absolute;
  top: inherit;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(68, 68, 68, 1);
  z-index: 2;

  .option {
    height: 25px;

      .option-name {
        flex: 1;
        text-transform: capitalize;
      }
  }
}