<div class="filter-content">
  <div class="conteiner">
    <div class="filter">
      <div class="text">Filter by:</div>
  
      <div class="filter-price">
        <div class="filter-name" (click)="showHidePrice()">
          <span>Price:</span>
          <div class="icon">
            <fa-icon [icon]="faChevronDown" *ngIf="!showDropDown"></fa-icon>
            <fa-icon [icon]="faChevronUp" *ngIf="showDropDown"></fa-icon>
          </div>
        </div>
  
        <div class="filter-price-content" *ngIf="showDropDown">
          <div class="price-filter-input">
            <span>$</span>
            <input id="from-inp" type="text" placeholder="5" [(ngModel)]="priceFrom">
          </div>
  
          <span>to</span>
  
          <div class="price-filter-input">
            <span>$</span>
            <input id="to-inp" type="text" placeholder="350" [(ngModel)]="priceTo">
          </div>
  
          <div class="btn text" (click)="addPriceFilter()">go</div>
        </div>
      </div>
  
    </div>
  
    <div class="sort">
      <div class="text">SORT BY:</div>
  
      <div class="value-sort">
        <app-custom-select [options]="optionList" [defaultEl]='sortBy' (selectedOption)="getSelectedSortBy($event)"></app-custom-select>
      </div>
    </div>
  </div>
</div>