.filter-content {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ebebeb;

  .conteiner {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-left: 10px;
    display: flex;
  }

  .text {
    width: 90px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
}

.filter,
.sort {
  height: inherit;
  display: flex;
}

.filter {
  flex: 1;
}

.filter-price {
  width: 115px;
  position: relative;
  cursor: pointer;

  .filter-name {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .icon {
      display: flex;
      align-items: center;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      text-align: center;
    }
  }

  .filter-price-content {
    width: 240px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 60px;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(68, 68, 68, 1);
    z-index: 2;

    .price-filter-input {
      width: 60px;
      display: flex;
      align-items: center;
      margin: 0 10px;

      input {
        width: 40px;
        height: 30px;
        padding: 5px;
        margin-left: 5px;
        border: 1px solid rgba(68, 68, 68, .5);
        border-radius: 3px;
        outline: none;
      }
    }

    .btn {
      width: 40px;
      height: 30px;
      padding: 5px;
      margin-left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(245, 245, 245);
      border: 1px solid rgb(223, 223, 223);
      border-radius: 3px;
      cursor: pointer;
    }

    .btn:hover {
      box-shadow: 0 0 5px rgb(180, 180, 180);
    }
  }
}

.sort {
  width: 250px;

  .value-sort {
   width: 180px;
   height: inherit;
  }
}
