<div class="content">
  <div class="filter">
    <app-filter></app-filter>
  </div>
  <div class="breadcrumbs">
    <div class="text-color"> Move to: </div>
    <div
      *ngFor="let link of breadCrumbs" class="breadcrumb-link text-color"
      [routerLink]="link.link" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}"
      >
      <span >{{ link.name }}</span>
    </div>
  </div>
  <div class="subcategory" *ngIf="showSubcategory">
    <app-subcategory></app-subcategory>
  </div>
  <div class="products">
    <app-products></app-products>
  </div>
</div>