.first-page-content {
  max-width: 1000px;
  height: 820px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #F8F8FF;
}

.create-content,
.login-content {
  width: 140px;
  height: 140px;
  padding: 20px;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(84, 84, 84);

  span {
    text-align: center;
  }

  a {
    margin-top: 20px;
  }
}

.create-content {
  margin-right: 20px;
}

.login-content {

}