.user-page {
  max-width: 1000px;
  height: 820px;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #F8F8FF;
}

.links-block {
  width: 50%;

  .links {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
  }

  .active-link {
    color: red;
  }

  li {
    list-style-type: none;
    border-bottom: 1px solid transparent;
    cursor: pointer;
  }

  li:hover {
    color: red;
    border-bottom: 1px solid red;
  }
}
