<div class="user-page">
  <div class="menu-content">
    <div class="left-menu">
      <div class="menu" routerLink="categories" routerLinkActive="active-link">Categories</div>
      <div class="menu">Filter</div>
    </div>

    <div class="right-menu">
      <div class="icon" routerLink="basket">
        <fa-icon [icon]="faShoppingBasket"></fa-icon>
        {{ userProductSize }}
      </div>
      <div class="icon" (click)="onLogOut()">
        <fa-icon [icon]="logoutIcon"></fa-icon>
      </div>
    </div>

  </div> 

  <router-outlet></router-outlet>
</div>
