.user-page {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #F8F8FF;
}

.menu-content {
  width: 1000px;
  position: fixed;
  background-color: #F8F8FF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.links-block {

  .links {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
  }

  .active-link {
    color: red;
  }

  li {
    list-style-type: none;
    border-bottom: 1px solid transparent;
    cursor: pointer;

    a {
      text-decoration: none;
      color: rgb(85, 26, 139);
    }

    a:hover {
      color: red;
    }
  }

  li:hover {
    color: red;
    border-bottom: 1px solid red;
  }
}