.user-page {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.menu-content {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.left-menu,
.right-menu {
  display: flex;

  .menu,
  .icon {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #191970;
    border: 1px solid transparent;
  }

  .menu:hover,
  .icon:hover {
    border-right: 1px solid #191970;
    border-left: 1px solid #191970;
    cursor: pointer;
  }
}

.left-menu {
  flex: 1;

  .menu {
    width: 100px;
  }
}

.right-menu {
  width: 100px;

  .icon {
    width: 50px;
  }
}

