<div class="products-page">
  <div class="products-content">
    <div class="product-block" *ngFor="let product of productList; index as i">
      <div class="data-info margin">
        <div class="day-ago text-transfom"> <span>added</span>: {{ product.createdAt | daysAgo }} </div>
      </div>

      <div class="product-img margin">
        <img [src]="product.imgUrl" alt="">
      </div>

      <div class="description-product margin">
        <div class="text-transfom text"> {{ product.name }} </div>
        <div class="text-transfom text">Price: {{ product.price }}$ </div>
      </div>

      <div class="btn-block margin">
        <div class="btn-content" *ngIf="isAdmin">
          <div class="icon icon-green">
            <fa-icon [icon]="faPencilAlt"></fa-icon>
          </div>
  
          <div class="icon icon-red margin">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </div>
        </div>

        <div class="btn-content" *ngIf="!isAdmin">
          <div class="icon icon-green" (click)="onBasket(product, $event)">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
          </div>
  
          <div class="icon icon-red ">
            <fa-icon [icon]="faHeart"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #updateTemplate>
    <div class="form-content">
      <h3>Update {{ categoryName }}</h3>

      <div class="message input-block">
        <span>{{ infoMessage }}</span>
      </div>

      <form [formGroup]="updateForm" (ngSubmit)="onUpdateForm()">
        <div class="input-block">
          <label for="name">Category name:</label>
          <input type="text" id="name" formControlName="name">
        </div>

        <div class="input-block">
          <label for="img-url">Img-url:</label>
          <input type="text" id="img-url" formControlName="imgUrl">
        </div>

        <div class="input-block">
          <label for="price">Price:</label>
          <input type="text" id="price" formControlName="price">
        </div>

        <div class="button-block">
          <button type="submit" class="btn-green">update</button>
          <button type="button" class="btn-red" (click)="closeModal()">cancel</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #deleteNotificationTemplate>
    <div class="delete-massage">
      <div class="info-message">
        <span>Are you sure you want to remove {{ currentObj.name }}?</span>
      </div>

      <div class="info-button">
        <button (click)="onDelete()" class="btn-green">delete</button>
        <button (click)="closeModal()" class="btn-red">cancel</button>
      </div>
    </div>
  </ng-template>

  <app-modal *ngIf="IsModalShow" [template]="currentTemplate" (closeModal)="closeModal()">
  </app-modal>