:host {
  width: 100%;
}

.products-page {
  width: 100%;
  min-height: 400px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.products-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.data-info {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;

  .day-ago {
    display: none;

    span {
      text-transform: capitalize;
    }
  }

  .text-transfom {
    font-size: 10px;
    text-transform: lowercase;
  }
}

.btn-block {
  height: 30px;

  .btn-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .icon {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .icon:hover {
      box-shadow: 2px 0px 5px rgba(68, 68, 68, 1);;
    }
  }
}

.product-block {
  flex-basis: 25%;
  max-width: 25%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  outline: none;

  .margin {
    margin: 0 10px;
  }

  .product-img,
  .description-product {
    display: flex;
    justify-content: center;

    img {
      height: 230px;
    }

   .text {
      margin-bottom: 10px;
    }
  }
}

.product-img {
  margin-bottom: 20px;
}

.description-product {
  flex-direction: column;
  padding: 0 10px;
}

.product-block:hover {
  box-shadow: 0px -3px 20px rgba(68, 68, 68, 1);

  .data-info {
    .day-ago {
      display: inline-block;
    }
  }
}


.form-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-block,
.button-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;

  label {
    width: 120px;
  }

  input {
    width: 160px;
    height: 20px;
    cursor: pointer;
    outline: none;
    padding-left: 5px;
    border: 1px solid grey;
  }

  input.ng-touched.ng-dirty.ng-invalid,
  input.ng-pristine.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  input.ng-touched.ng-dirty.ng-valid {
    border: 1px solid green;
  }

  .btn-green {
    margin-right: 10px;
  }
}

.delete-massage {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .info-message {
    height: 50px;
   display: inline-block;
  }

  .info-button {
    .btn-green {
      margin-right: 10px;
    }
  }
}