<div class="link">
  <a routerLink="create-product">Create</a>
</div>
<div class="products-page">
  <div class="product-block" *ngFor="let product of productList">
    <div class="content">
      <div class="product-content">
        <div class="product-name">
          <span> {{ product.name }} </span>
        </div>

        <div class="product-img">
          <a [routerLink]="product._id"><img [src]="product.imgUrl" alt=""></a>
        </div>

        <div class="product-price">
          <span>Price: {{ product.price }}$ </span>
      </div>
    </div>

      <div class="button-content">
        <div *ngIf="!isAdmin" class="button-user">
          <button class="btn-buy">buy</button>
        </div>

        <div *ngIf="isAdmin" class="button-admin">
          <button class="btn-trash" (click)="deleteCategory(product._id)">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>

          <button class="btn-update" (click)="updateProduct(product)">
            <fa-icon [icon]="faPencilAlt"></fa-icon>
          </button>
        </div>
      </div>

  </div>
</div>

<ng-template #template>
  <div class="form-content">
    <h3>Update {{ productName }}</h3>

    <div class="message input-block">
      <span>{{ infoMessage }}</span>
    </div>

    <form [formGroup]="updateForm" (ngSubmit)="onUpdateForm()">
      <div class="input-block">
        <label for="name">Category name:</label>
        <input type="text" id="name" formControlName="name">
      </div>

      <div class="input-block">
        <label for="img-url">Img-url:</label>
        <input type="text" id="img-url" formControlName="imgUrl">
      </div>

      <div class="input-block">
        <label for="price">Price:</label>
        <input type="text" id="price" formControlName="price">
      </div>

      <div class="input-block">
        <label for="id">Id:</label>
        <input type="text" id="id" formControlName="_id">
      </div>

      <div class="button-block">
        <button type="submit" class="btn-green">update</button>
        <button type="button" class="btn-red" (click)="closeModal()">cancel</button>
      </div>
    </form>
  </div>
</ng-template>

<app-modal *ngIf="IsModalShow" [template]="template" (closeModal)="closeModal()">
</app-modal>