<div class="products-page">
  <div *ngIf="isAdmin" class="link">
    <a routerLink="create-product">Create</a>
  </div>

  <div class="products-content ">
    <div class="product-block" *ngFor="let product of productList">
      <div [routerLink]="product.id" class="content">
        <div class="product-content">
          <div class="product-name">
            <span> {{ product.name }} </span>
          </div>
  
          <div class="product-img">
            <img [src]="product.imgUrl" alt="">
          </div>
  
          <div class="product-price">
            <span>Price: {{ product.price }}$ </span>
        </div>
      </div>
  
        <div class="button-content">
          <div *ngIf="!isAdmin" class="button-user">
            <button class="btn-buy" (click)="onBasket(product, $event)">buy</button>
          </div>
  
          <div *ngIf="isAdmin" class="button-admin">
            <button class="btn-trash" (click)="deleteProduct(product, $event)">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
  
            <button class="btn-update" (click)="updateProduct(product, $event)">
              <fa-icon [icon]="faPencilAlt"></fa-icon>
            </button>
          </div>
        </div>
  
    </div>
  </div>
  </div>

<ng-template #updateTemplate>
  <div class="form-content">
    <h3>Update {{ categoryName }}</h3>

    <div class="message input-block">
      <span>{{ infoMessage }}</span>
    </div>

    <form [formGroup]="updateForm" (ngSubmit)="onUpdateForm()">
      <div class="input-block">
        <label for="name">Category name:</label>
        <input type="text" id="name" formControlName="name">
      </div>

      <div class="input-block">
        <label for="img-url">Img-url:</label>
        <input type="text" id="img-url" formControlName="imgUrl">
      </div>

      <div class="input-block">
        <label for="price">Price:</label>
        <input type="text" id="price" formControlName="price">
      </div>

      <div class="button-block">
        <button type="submit" class="btn-green">update</button>
        <button type="button" class="btn-red" (click)="closeModal()">cancel</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deleteNotificationTemplate>
  <div class="delete-massage">
    <div class="info-message">
      <span>Are you sure you want to remove {{ currentObj.name }}?</span>
    </div>

    <div class="info-button">
      <button (click)="onDelete()"  class="btn-green">delete</button>
      <button (click)="closeModal()" class="btn-red">cancel</button>
    </div>
  </div>
</ng-template>

<app-modal *ngIf="IsModalShow" [template]="currentTemplate" (closeModal)="closeModal()">
</app-modal>