.category-form-block {
  min-width: 1000px;
  height: 820px;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #F8F8FF;
}

.form-content {
  width: 50%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.info-message {
  height: 30px;
  color: blue;
}

.form-group {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-block {
  display: flex;
  align-items: center;

  label {
    width: 120px;
  }

  input {
    width: 160px;
    height: 20px;
    cursor: pointer;
    outline: none;
    padding-left: 5px;
    border: 1px solid grey;
  }

  input.ng-touched.ng-dirty.ng-invalid,
  input.ng-pristine.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  input.ng-touched.ng-dirty.ng-valid {
    border: 1px solid green;
  }
}

.error {
  width: 160px;
  padding: 4px;
  color: red;
  background-color: rgb(100%, 0%, 0%, 0.2);
}