<div class="categories-page">
  <a routerLink="/">Home page</a>

  <div class="category-block">
    <div class="category">
      <span>Clothing</span>
      <a routerLink="/clothing"><img src="assets/img/clothing.jpg" alt=""></a>
    </div>
    <div class="category">
      <span>Shoes</span>
      <img src="assets/img//Shoes.jpg" alt="">
    </div>
  </div>

  <div class="category-block">
    <div class="category">
      <span>Handbags</span>
      <img src="assets/img/handbag.jpg" alt="">
    </div>
    <div class="category">
      <span>Watches</span>
      <img src="assets/img/Watches.jpg" alt="">
    </div>
  </div>

  <div class="category-block">
    <div class="category">
      <span>Accessories</span>
      <img src="assets/img/Accessories.jpg" alt="">
    </div>
    <div class="category">
      <span>Luggage</span>
      <img src="assets/img/Luggage.jpeg" alt="">
    </div>
  </div>

</div>
